body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e7e7e7;
}

main {
  /* height: 100%; */
  margin-top: 4.5rem;
}

.move-category {
  background-image: linear-gradient(to right, #8e8efc, #ff5555);
  height: 280px;
  /* width: 100%; */
  margin: 0 1rem;
  margin-top: 0.5rem;
}

.category-img {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.category-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.category-img a {
  text-decoration: none;
}

.category-title {
  padding-left: 1rem;
}

.category-card {
  margin: 0 1rem;
  margin-top: 1rem;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 4px #ccc;
  background-color: #ffffff;
}

.dress-name,
.dress-price {
  text-align: center;
  padding: 0.2rem;
  color: black;
  text-decoration: none;
}

.shop-info {
  margin: 1.5rem 0;
  background-color: #ff5555;
}

.info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-wrap img {
  width: 50%;
  height: 50%;
  padding-top: 1rem;

}

.img-wrap {
  text-align: center;
}

.since {
  text-align: center;
  padding: 1rem 0;
}

.quote{
  padding: 2rem;
  width: 65%;
  margin: 0 auto;
}

.quote p {
  text-align: right;
  font-size: 1.25rem;
  margin: 2rem 0;
  font-style: italic;
}

.quote p b {
  font-size: 1rem;
  margin-top: 0.3rem;
  font-style: normal;
}

.social-media {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 65%;
  text-align: center;
  background-color: #ff4a4a;
  border-radius: 50px;
}


.social-media a {
  margin: 0 1rem;
  text-decoration: none;
  vertical-align: middle;
  font-size: 0;
}

