@font-face {
  font-family: "edwardian-script-itc";
  src: url("EdwardianScriptITC.ttf");
}

* {
  font-size: 1rem;
}

main {
  height: calc(100% - 56px - 50px);
  margin-top: 4.5rem;
}

.main-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ff6201;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.left_items {
  display: flex;
  align-items: center;
}

.left_items p {
  /* padding-left: 2rem; */
  margin: 0;
  font-family: "edwardian-script-itc", sans-serif;
  font-size: 1.75rem;
  /* color: white;
    font-weight: bold; */
}

.nav-img {
  width: 2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin-left: 1rem;
  object-fit: cover;
}

.right_items {
  display: flex;
  justify-content: space-between;
  /* margin-right: 1rem; */
}

.right_items a,
.left_items a {
  margin-right: 2rem;
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  /* font-weight: bold; */
}

.header_item img,
.header_item span {
  margin-right: 0.2rem;
  vertical-align: middle;
}

.header_item:hover,
.header_item:active {
  color: white;
}

.center_items {
  width: 31rem;
  display: flex;
}

.search_bar {
  padding: 0 1rem;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search_btn {
  padding: 0;
  border: none;
  background-color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search_btn svg {
  vertical-align: middle;
  padding-right: 0.5rem;
}

.main-footer {
  background-color: black;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  margin-top: 0.5rem;
  padding: 1rem;
}

.footer-link:hover,
.footer-link:active {
  color: green;
}
